MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_DB=golang-base-code
MYSQL_PORT=3306

# THE VALUE OF MIGRATION IS ONLY UP OR DOWN. 
# UP FOR RUN MIGRATION AND DOWN FOR DROP THE DATABASE
MIGRATION=UP